.container {
  position: absolute;
  top: 152%;
  width: 100%;
  font-size: 11px;
  font-weight: 900;
  padding: 8px;
  color: #fff;
  background-color: #673AB7;
  box-shadow: 1px 13px 26px 0px rgba(0, 0, 0, 0.25), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(103, 20, 255, 0.12);}

.button{
  margin-top: 10px;
  display: block;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 20px;
  background-color: #1c79ff;
  color: #fff;
  outline: none;
  border: none;
}

.button::after{
  content: " > ";
}
.p::before{
  content: " - ";
}
